header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #000000, #FFA500);
}
header div {
    padding: 2%; 
}
.head {
    display: flex;
    align-items: center;
    margin-left: 15%;
}
.head a {
    color: orangered;
    font-size: 1.7em;
    text-decoration: none;
}
.nav {
    width: 20%;
    display: flex;
    align-items: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
}
.main-article {
    width: 40%;
    margin-top: 2%;
}