<div class="">
    <div class="">
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-menu">
    <nav class="">
        <ul>
            <li>

                <NavLink class="" href="" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li>

                <NavLink class="" href="converting">Konvertering</NavLink>

            </li>
            <li>

                <NavLink class="" href="json">Json</NavLink>

            </li>
        </ul>
    </nav>
</div>
