<div class="nav-menu">
    <nav class="nav-menu">
        <ul>
            <li>

                <NavLink class="nav-link" href="" Match="NavLinkMatch.All" style="color: black;">Home</NavLink>
            </li>
            <li>

                <NavLink class="nav-link" href="converting" style="color: black;">Konvertering</NavLink>

            </li>
            <li>

                <NavLink class="nav-link" href="json" style="color: black;">Json</NavLink>

            </li>
        </ul>
    </nav>
</div>

<style>
    .nav-link {
        padding: 10%;
    }
    .nav-link:hover {
        background-color: black;
        color: orange !important;
    }
</style>