/* /Layout/MainLayout.razor.rz.scp.css */
header[b-3gu5xxf5cg] {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #000000, #FFA500);
}
header div[b-3gu5xxf5cg] {
    padding: 2%; 
}
.head[b-3gu5xxf5cg] {
    display: flex;
    align-items: center;
    margin-left: 10%;
}
.head a[b-3gu5xxf5cg] {
    color: orangered;
    font-size: 1.7em;
    text-decoration: none;
}
.nav[b-3gu5xxf5cg] {
    width: 20%;
    display: flex;
    align-items: flex-end;
}
/* /Layout/NavMenu.razor.rz.scp.css */
.nav-menu[b-2psx05j2pm] {
   display: flex;
   width: 100%;
}
ul[b-2psx05j2pm] {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
li[b-2psx05j2pm] {
    display: inline-block;
    padding: 3%;
    margin-left: 5px; 
    margin-bottom: -10%;
}
