@page "/"

<PageTitle>Startsida</PageTitle>

<h1>Välkommen till moment 1.2 - Blazor!</h1>

<p>
    Denna webbplats är till för en specifik uppgift för kursen DT191G - Webbutveckling med .net som finns vid Mittuniversitetet i Sundsvall. 
    En otroligt givande kurs som jag rekommenderar varmt om du innehar ett intresse för webbutveckling. 
    Just denna uppgift handlar om att lära känna ramverket Blazor, ett ramverk som är på stigande framfart just nu.  
</p>

