@page "/converting"
@using System

<PageTitle>Konvertering</PageTitle>

<h1>Konvertering</h1>

<div class="km-input">
    <label for="kmInput">Antal hela kilometer:</label>
    <input @bind="kilometers" id="kmInput" type="number" />
    <button @onclick="ConvertKmToMiles" style="background-color: orange;">Konvertera</button>
    <span>@milesResult miles</span>
</div>

<div class="m-input" style="margin-top: 15px;">
    <label for="mInput">Antal hela meter:</label>
    <input @bind="meters" id="mInput" type="number" />
    <button @onclick="ConvertMetersToFeet" style="background-color: orange;">Konvertera</button>
    <span>@feetResult feet</span>
</div>


@code {
    double kilometers;
    double milesResult;
    double meters;
    double feetResult;

    void ConvertKmToMiles()
    {
        milesResult = kilometers * 0.621371;
        kilometers = 0;
    }

    void ConvertMetersToFeet()
    {
        feetResult = meters * 3.28084;
        meters = 0;
    }
}
