header[b-3gu5xxf5cg] {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #000000, #FFA500);
}
header div[b-3gu5xxf5cg] {
    padding: 2%; 
}
.head[b-3gu5xxf5cg] {
    display: flex;
    align-items: center;
    margin-left: 15%;
}
.head a[b-3gu5xxf5cg] {
    color: orangered;
    font-size: 1.7em;
    text-decoration: none;
    text-shadow: 1px 1px #000000;
}
.nav[b-3gu5xxf5cg] {
    width: 20%;
    display: flex;
    align-items: flex-end;
}

main[b-3gu5xxf5cg] {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    margin-bottom: 24%;
}
.main-article[b-3gu5xxf5cg] {
    width: 40%;
    margin-top: 2%;
}
footer[b-3gu5xxf5cg] {
    text-align: center;
    background: linear-gradient(to right, #000000, #FFA500);
    padding: 1.5%;
    margin-top: 60px;
    color: orangered;
    text-shadow: 1px 1px #000000;
}