.nav-menu[b-2psx05j2pm] {
   display: flex;
   width: 100%;
}
ul[b-2psx05j2pm] {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
li[b-2psx05j2pm] {
    display: inline-block;
    padding: 3%;
    margin-left: 5px; 
    margin-bottom: -10%;
}
